@model CollegeConnected.Models.Student

@{
    ViewBag.Title = "Delete";
}


<h2>Are you sure you want to delete this constituent?</h2>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.FirstName, "First Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.LastName, "Last Namer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PhoneNumber, "Phone Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email, "Email Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.FirstGraduationYear, "First Graduation Year")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstGraduationYear)
        </dd>

        <dt>
            @Html.LabelFor(model => model.BirthDate, "Date of Birth")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthdayForDisplay)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-sm"/> |
            @Html.ActionLink("Back to Constituents", "Index")
        </div>
    }
</div>