@model CollegeConnected.Models.EventCreator

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>CreateEventForm</title>
</head>
<body>
<div>
    <table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary() //Shows error messages if text box is left blank
        //TextBoxFor generates HTML for an input element, sets type parameter to text, sets id and name attributes to EventName
        <tr>
            <td><h2>Create Event</h2><hr /></td>
        </tr>
        <tr>
            <td>Event Name:</td><td><p>@Html.TextBoxFor(x => x.EventName)</p></td>
        </tr>
        <tr>
            <td>Event Location:</td><td><p>@Html.TextBoxFor(x => x.EventLocation)</p></td>
        </tr>
        <tr>
            <td>Date of Event:</td><td><p>@Html.TextBoxFor(x => x.EventDate)</p></td>
        </tr>
        <tr>
            <td>Start Time of Event:</td><td><p>@Html.TextBoxFor(x => x.EventStartTime)</p></td>
        </tr>
        <tr>
            <td>End Time of Event:</td><td><p>@Html.TextBoxFor(x => x.EventEndTime)</p></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create Event"/></td>
        </tr>
    }
    </table>
</div>
</body>
</html>