<nav>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Dashboard", "Admin", "Home")</li>
        <li>@Html.ActionLink("Events", "Index", "Events")</li>
        <li>@Html.ActionLink("Constituents", "Index", "Constituents")</li>
        <li>@Html.ActionLink("Import", "StartStudent", "Import")</li>
        <li>@Html.ActionLink("Configuration", "Configuration", "Settings")</li>
        <li>@Html.ActionLink("Log Off", "Logout", "Account")</li>
    </ul>
</nav>