@model CollegeConnected.Models.Event
<link rel="stylesheet" href="bootstrap.css">
<script src="bootstrap.js"></script>
@{
    ViewBag.Title = "Create";
}

<h2>Create Event</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>* -Required</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.EventName, "Name*", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EventName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventLocation, "Location*", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventLocation, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EventLocation, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            <div class='col-md-10'>
                @Html.LabelFor(model => model.EventStartDateTime, "Start Date & Time*", new {@class = "control-label col-md-2"})
                <div class='input-group date' id='datetimepicker1'>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.TextBoxFor(model => model.EventStartDateTime, new {@class = "form-control"})

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class='col-md-10'>
                @Html.LabelFor(model => model.EventEndDateTime, "End Date & Time*", new {@class = "control-label col-md-2"})
                <div class='input-group date' id='datetimepicker2'>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.TextBoxFor(model => model.EventEndDateTime, new {@class = "form-control"})
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary btn-sm"/>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to Home", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/scripts/bootstrap-datetimepicker.js")
    <script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker();
    });
    </script>
    <script type="text/javascript">
    $(function() {
        $('#datetimepicker2').datetimepicker();
    });
    </script>

}