@model CollegeConnected.Models.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Event</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>* -Required</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger", autocomplete = "off" })
        @Html.HiddenFor(model => model.EventID)
        @Html.HiddenFor(model => model.EventStatus)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.Attendance)
        @Html.Partial("EventFormPartial")
    </div>
}


<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/scripts/bootstrap-datetimepicker.js")
    <script type="text/javascript">
        $(function() {
            $('#startdatetimepicker').datetimepicker();
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $('#enddatetimepicker').datetimepicker();
        });
    </script>

}